<div class="container">

    <div class="sidenav">
        <div class="login-main-text">
            <h2>NGRX<br> Login Page</h2>
        </div>
    </div>
    <div class="main">
        <div class="login-form">
            <h2>Login</h2>
            <div class="p-field p-grid">
            <label for="firstname3" class="p-col-fixed" style="width:70px">Firstname</label>
            <div class="p-col">
                <input id="firstname3" type="text" pInputText>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="lastname3" class="p-col-fixed" style="width:70px">Password</label>
            <div class="p-col">
                <input id="lastname3" type="password" pInputText>
            </div>
        </div>
        <p-button label="Login" class="login-btn" routerLink='/list'></p-button>
    </div>
    </div>
</div>