<button type="submit" class="btn btn-outline-primary float-right logout-margin" routerLink='/login'>Logout</button>
<div class="container">
    <br>
    <h5>Add Mobile Wishlist </h5>

    <form (ngSubmit)="addItem()">
        <div class="row">
            <div class="col-lg-4">
                <input type="text" placeholder="Please eneter mobile wish" class="form-control" [(ngModel)]="newShoppingItem.name" name="itemName">
            </div>
            <br>
            <button class="btn btn-primary float-right" type="submit">Submit</button>
        </div>
    </form>
    <br>
    <h5>My Mobile wishlist</h5> 
    <div class="row">
        <div class="col-lg-4" *ngFor="let items of shoppingItems$ |async">
            <div class="card" style="width: 20rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">{{items.name}}</h5>
                    <p class="card-text">This is awesome phone buy it now.</p>
                    <a class="btn  btn-outline-danger float-right" (click)="removeCard(items.id)"> Delete</a>
                </div>
            </div><br>
        </div>
    </div>
</div>